%menu-animation {

	@include respond(medium-down){
		transition: $menu-transition;

		.show-menu & {
			transform: translateX(-$menu-width);
			transform: translate3d(-$menu-width,0,0);

			.no-csstransforms & {
				left: -$menu-width;
			}
		}
	}

}