<div class="track-tabs">
	<ul class="tabs">
		<li ng-repeat="track in tracks" ng-class="{active: track == model}" class="tab-item"><a href="/{{track}}" class="tab-link">{{track}}</a></li>
	</ul>
</div>