<div class="session-details">
	<h2 class="session-title">{{session.Title}}</h2>
	<p ng-if="session.Speakers[0]" class="session-speaker">
	{{session.Speakers[0].FirstName}} {{session.Speakers[0].LastName}}, {{session.Speakers[0].Company}}
	</p>
	<p class="session-description">{{session.Description}}</p>

	<span ng-if="session.Speakers[0]">
		<h3 class="session-speaker-title">About the speaker</h3>
		<p><strong>{{session.Speakers[0].FirstName}} {{session.Speakers[0].LastName}}</strong>, <span ng-if="session.Speakers[0].Title">{{session.Speakers[0].Title}},</span> {{session.Speakers[0].Company}}</p>
		<p class="session-speaker-bio">{{session.Speakers[0].Biography}}</p>
	</span>
</div>