<track-tabs ng-model="selectedTrack" sessions="sessions"></track-tabs>
<session-details ng-model="selectedSession"></session-details>
<track-list ng-model="selectedTrack" selected-session="selectedSession" sessions="filteredSessions"></track-list>

