body {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	padding-top: 47px;
}

.container {
	max-width: $site-width;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}

header {
	height: 47px;
	background-color: $blue;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	.logo {
		display: block;
		width: 127px;
		height: 27px;
		margin-top: 10px;
		background: url(../svg/logo.svg) center center no-repeat;
		background-size: contain;
		overflow: hidden;
		text-indent: -1000px;
	}
}

.page-title {
	text-align: center;
	font-size: 18px;
	color: $mid-gray;
	margin: 40px 0;

	.summit {
		display: block;
		width: 290px;
		height: 32px;
		background: url(../svg/summit.svg) center center no-repeat;
		background-size: contain;
		margin: 0 auto 25px auto;
		text-indent: -1000px;
		overflow: hidden;

		@include respond medium {
			width: 357px;
			height: 53px;
		}
	}
}