<div class="track-list">
	<div class="track-title">{{selectedTrack}}</div>
	<ul class="tracks">
		<li ng-repeat="session in sessions" class="track-item">
			<a href="{{session.Track.Title}}/{{session.Id}}" class="track-link" ng-class="{active: selectedSession.Id == session.Id}">
				<span class="session-title">{{session.Title}}</span>
				<span class="session-speaker" ng-if="session.Speakers[0]">{{session.Speakers[0].FirstName}} {{session.Speakers[0].LastName}}, {{session.Speakers[0].Company}}</span>
			</a>
		</li>
	</ul>
</div>