.session-details {
	

	@include respond (medium) {
		float: right;
		width: 70%;
		padding-left: 50px;
	}

	.session-title {
		color: $blue;
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
		margin-bottom: 30px;
	}

	.session-speaker {
		color: $blue;
		font-style: 12px;
	}

	.session-description {
		margin: 30px 0;
		line-height: 125%;
	}

	.session-speaker-title {
		color: $blue;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.session-speaker-bio {
		margin: 20px 0;
		line-height: 125%;
	}
}
