.track-list {

	@include respond (medium) {
		margin-right: 70%;
	}

	.track-title {
		color: $blue;
		font-size: 16px;
		font-weight: bold;
	}

	.tracks {
		border-top: 1px solid $gray;
		margin: 20px 0;
	}

	.track-link {
		display: block;
		line-height: 135%;
		padding: 10px 10px;
		border-bottom: 1px solid $gray;
		font-size: 14px;
		color: $blue;
		text-decoration: none;
		font-weight: bold;

		&:hover,
		&.active {
			background-color: $light-gray;
		}
	}

	.session-speaker {
		display: block;
		margin-top: 5px;
		font-style: 11px;
		color: $mid-gray;
		font-weight: normal;
	}
}