.track-tabs {
	margin: 25px 0 50px 0;
	overflow: hidden;
	position: relative;
	border-top: 1px solid $gray;

	@include respond (medium) {
		border-left: 1px solid $gray;		
	}

	@include respond (large) {
		border: none;
	}
	

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		border-bottom: 1px solid $gray;
	}

	.tab-item {
		font-size: 14px;

		@include respond (large) {
			font-size: 12px;

			&:first-child .tab-link {
				border-top-left-radius: 5px;
			}

			&:last-child .tab-link {
				border-top-right-radius: 5px;
			}
		}

		&.active .tab-link {
			background-color: #FFF;
			color: $mid-gray;
			
			@include respond (large) {
				border-bottom: 1px solid #FFF;
			}
		}
	}

	.tab-link {
		display: block;
		border: 1px solid $gray;
		border-top: none;
		background-color: $light-gray;
		padding: 10px 15px;
		color: $black;
		text-decoration: none;
		text-align: center;
		

		@include respond (medium) {
			float: left;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;
			border-left: none;
			width: 50%;
		}

		@include respond (large) {
			width: auto;
			border: 1px solid $gray;
			display: inline-block;
			padding: 15px 20px;
			margin:0 -1px 0 0;
		}
	}
}